html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grains {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

figure {
  margin: 0;
}

.grains li {
  width: 100%;
  position: relative;
  margin-bottom: 2em;
}

.grains img {
  width: 100px;
  display: block;
  float: left;
  margin-right: 1em;
}

.grains h2 {
  display: block;
  margin: 0;
  font-size: 1em;
}

.grains p {
  display: block;
  margin: 0;
  font-style: italic;

}
